{{ define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark{{if .colors}}-{{index .colors .arena.Id}}{{end}}">
    <a class="navbar-brand" href="/">Robot Rumble</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
    <div class="container">
        
    </div>
    

    <span class="navbar-brand">#RobotRumble</span>
    
    </div>

</nav>
{{end}}